.flex {
    display: flex;
    margin: 0;
    padding: 0;

    /* parent behaviors */
    &__row {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
    }

    &__column {
        display: flex;
        flex: 1;
        flex-flow: column wrap;

        @media ($SMALL_BELOW) {
            flex: 1 0 auto;
            max-width: 100%;
        }
    }

    &--fs {
        align-items: flex-start;
    }

    &--fe {
        align-items: flex-end;
    }

    &--center {
        align-items: center;
    }

    &--sb {
        justify-content: space-between;
    }

    &--sa {
        justify-content: space-around;
    }

    &--jc {
        justify-content: center;
    }

    /* child behaviors */
    &__block {
        display: block;
    }

    &__item {
        display: flex;
        flex: 1;

        @media ($SMALL_BELOW) {
            flex: 1 0 auto;
        }
    }

    &--grow {
        flex: 1 0 auto;
    }

    &--shrink {
        flex: 0 1 auto;
    }
}

.al-image {
    display: flex;
    flex-flow: row wrap;

    &--vc {
        align-items: center;
    }

    &--sa {
        justify-content: space-around;
    }
}

// vertically center, justified cehter
%vcjc {
    display: flex;
    justify-content: center;
    align-items: center;
}

// space around
%flex-sa {
    display: flex;
    justify-content: space-around;
}

// space around
%flex-sb {
    display: flex;
    justify-content: space-between;
}
