// font family
$font-family: 'Raleway', 'Open Sans', sans-serif;

// font weights
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// line heights
$line-height-small: 1.2;
$line-height-regular: 1.4;
$line-height-large: 1.5;

$font-sizes: (
    sub: 13px,
    base: 16px,
    small: 20px,
    medium: 25px,
    large: 31px,
    x-large: 39px,
    xx-large: 49px,
);

@function font-size($size) {
    @return map-get($font-sizes, $size);
}

* {
    font-smoothing: antialiased;
}

body {
    font-size: font-size(base);
    font-weight: $font-weight-regular;
    line-height: $line-height-regular;
}

.section {
    &__title {
        font-size: font-size(x-large);
        line-height: $line-height-large;
        font-weight: $font-weight-semibold;
        color: glacier(navy);
        margin: 2rem 0;

        &--iv {
            color: color(white);
        }
    }
}

.glc {
    &--r {
        color: glacier(red);
    }

    &--t {
        color: glacier(teal);
    }

    &--y {
        color: glacier(yellow);
    }

    &--g {
        color: glacier(green);
    }
    &--w {
        color: color(white);
    }
}

%large-title {
    font-size: font-size(large);
    line-height: $line-height-small;
    font-weight: $font-weight-regular;
    color: color(grey, dark);

    @media ($SMALL_UP) {
        line-height: $line-height-small;
    }
}

%medium-title {
    font-size: font-size(medium);
    line-height: $line-height-small;
    font-weight: $font-weight-light;
    color: color(grey, dark);
}

%commented-code {
    font-family: "Ubuntu Mono", sans-serif;
    font-size: font-size(small);
    line-height: $line-height-small;
    font-weight: $font-weight-light;
    color: color(grey);
}

%code-block {
    font-family: "Ubuntu Mono", sans-serif;
    font-size: font-size(base);
    line-height: $line-height-large;
    font-weight: $font-weight-light;
    color: color(white);
}
