@import 'partials/reset';
@import 'partials/constants';
@import 'partials/media-queries';
@import 'partials/layout';
@import 'partials/components';

body {
  background-color: #2173a3;
  color: white;
}

.show {
  opacity: 1;
  transition: opacity 0.5s;
}

.hide {
  opacity: 0;
  transition: opacity 0.5s;
}

.hero {
  color: #2173a3;
  text-align: center;

  &__drawing {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #5ca9d6;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  &__signature {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__headline {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  &__header {
    color: #fff;

    margin: 0;
    padding: 2rem 0;
    font-size: 3em;
    font-weight: 200;
    letter-spacing: .07em;
  }

  &__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: #2173a3;

    &.show {
      opacity: 0.5;
    }
  }

  &__line {
    transition: opacity 0.5s;
    fill: none;
    stroke-width: 2;
    stroke: #fff;

    &--darker {
      stroke: #aaa;
    }
  }

  svg {
    &#rectangle {
      width: 100%;
      height: 75vh;
    }

    &#signature {
      position: absolute;
      top: 35%;
      z-index: 50;
      max-width: 480px;
      max-height: 340px;
      width: 90%;
    }
  }
}

h1 {
  font-size: $font-size-large;
}

p {
  font-size: $font-size-base;
  font-weight: 100;
}
