html, body {
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: 'Fira Sans', 'Open Sans', sans-serif;
    font-smoothing: antialiased;
    font-size: $font-size-base;
}

.flex {
    display: flex;

    &__row {
        flex-flow: row;
    }

    &__column {
        flex-flow: column;
    }

    &--sa {
        justify-content: space-between;
    }
}
