body {
    display: flex;
    flex-flow: column;
	overflow-x: hidden;
    height: 100%;
    font-family: 'Raleway', 'Open Sans', sans-serif;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-weight: 300;
    font-size: 2em;
    line-height: 1;

    @media ($SMALL_BELOW) {
        margin: .5rem 0;
    }
}

h2 {
    font-weight: 600;
    font-size: 1.3em;
}

h3 {
    font-weight: 600;
    font-size: 1em;
}

a, a:active, a:focus {
	color: glacier(green);
}

p {
    @media ($SMALL_BELOW) {
        font-size: 1.2rem;
    }
}
