@import "media-queries";

.hero {
    overflow: hidden;
    background: url('../img/kuroshio.png') no-repeat center;
    background-size: cover;
    height: 720px;

    &__video {
        object-fit: cover;
        z-index: 0;
        background-size: cover;
        transition: 1s opacity;
    }

    &__content {
        padding: 3rem;
        position: absolute;
        z-index: 50;
        top: 30%;
        left: 30%;

        @media ($SMALL_BELOW) {
            left: 25%;
        }

        p {
            color: #fff;
            line-height: 1.75em;
            font-weight: 200;
            margin-bottom: 2rem;
        }
    }
}
