.flex {
    display: flex;
    margin: 0;
    padding: 0;
    /*flex-shrink: 0;*/

    /* parent behaviors */
    &__row {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
    }

    &__column {
        display: flex;
        flex: 1;
        flex-flow: column wrap;

        @media ($SMALL_BELOW) {
            flex: 1 0 90%;
        }
    }

    &--fs {
        align-items: flex-start;
    }

    &--fe {
        align-items: flex-end;
    }

    &--center {
        align-items: center;
    }

    &--sb {
        justify-content: space-between;
    }

    &--sa {
        justify-content: space-around;
    }

    /* child behaviors */
    &__block {
        display: block;
    }

    &__item {
        display: flex;
        flex: 1;

        @media ($SMALL_BELOW) {
            flex: 1 0 90%;
        }
    }

    &--grow {
        flex: 1 0 auto;
    }

    &--shrink {
        flex: 0 1 auto;
    }
}
