$SCREEN_SM_MAX: 767px;
$SCREEN_MD_MIN: $SCREEN_SM_MAX + 1px;
$SCREEN_MD_MAX: 990px;
$SCREEN_LG_MIN: $SCREEN_MD_MAX + 1px;
$SCREEN_LG_MAX: 1100px;

$SMALL_BELOW: "max-width:#{$SCREEN_SM_MAX}";
$SMALL_UP: "min-width:#{$SCREEN_MD_MIN}";
$MEDIUM_BELOW: "max-width:#{$SCREEN_MD_MAX}";
$MEDIUM_UP: "min-width:#{$SCREEN_LG_MIN}";
$LARGE_BELOW: "max-width:#{$SCREEN_LG_MAX}";
$LARGE_UP: "min-width:#{$SCREEN_LG_MAX}";
