nav.nav {
	z-index: 500;
	height: auto;
	width: 100%;
	background: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	transition: .5s;

	/* make it sticky */
	position: fixed;
	top: 0;
	left: 0;

	.nav__items {
		display: flex;
		flex: 0 0 auto;
		min-width: 25%;
		margin: 1rem 2rem;
		transition: .5s all linear;
	}

	&--even {
		background: rgba(0, 0, 0, .8);
		justify-content: center;
		transition: .5s all linear;

		.nav__items {
			margin: 0 2rem 2rem 2rem;
			flex: 1 0 auto;
		}
		ul, .nav__items {
			transition: .5s all linear;
			min-width: 50%;
		}

		li {
			justify-content: center;
			a {
				display: flex;
				flex: 0 auto;
			}
		}
	}

	a {
		font-family: 'Quicksand', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
		color: white;
		position: relative;
		display: inline-block;
		text-align: center;
		&:hover {
			color: #89bdd3 !important;
		}
	}

	ul {
		list-style-type: none;
		cursor: default;
		margin: .5rem 0 0 0;
		width: 10%;
		display: flex;
		flex: 1 0 auto;
		align-self: flex-last;
		transition: .5s;
		li {
			margin: 1rem;
			width: auto;
			display: flex;
			flex: 1 0 auto;
		}
	}

}

.dot-nav li {
	position: relative;
	margin: 0 2rem;
	width: 1rem;
	height: 1rem;
	cursor: pointer;
}

.dot-nav li .dot {
	position: absolute;
	top: 2rem;
	left: 50%;
	margin-left: -5px;
	width: 1rem;
	height: 1rem;
	outline: none;
	border-radius: 50%;
	background-color: #c44d48;
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.dot-nav li .dot:focus {
	outline: none;
}

.dot-nav--switch li {
	width: 1rem;
	height: 1rem;
}

.dot-nav--switch li a::after {
	content: '';
	position: absolute;
	top: 2rem;
	left: 50%;
	margin-left: -5px;
	width: 1rem;
	height: 1rem;
	visibility: hidden;
	opacity: 0;
	background-color: #9ad3de;
	border-radius: 50%;
	-webkit-transform: translateY(-200%);
	transform: translateY(-200%);
	-webkit-transition: -webkit-transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
	transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
}
.dot-nav--switch li .dot {
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;
}

.dot-nav--switch li:hover .dot,
.dot-nav--switch li .dot:focus,
.dot-nav--switch li.current .dot {
	background-color: #fff;
}

.dot-nav--switch li.current a::after {
	opacity: 1;
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.dot-nav--switch li.current .dot {
	opacity: 0;
	-webkit-transform: translateY(200%);
	transform: translateY(200%);
}

@media all and (max-width: 640px) {
  nav {
  	justify-content: center !important;
  }
}