nav {
	z-index: 500;
	height: 3rem;
	width: 100%;
	background: none;
	/*set up for toggling background behavior*/
	&.opaque{
		background: rgba(255, 255, 255, .3);
	}

	/*set up for a sticky behavior*/
	&.sticky {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	a {
		color: white;
	}

	ul {
		list-style-type: none;
		margin-top: .5rem;
		li {
			margin: .5rem;
			display: inline;
		}
	}
}
