@import "media-queries";

$black-border: 2px solid #000;

.section {
    &__content {
        margin: auto;
        width: 75%;

        @media ($SMALL_BELOW) {
            margin: 1rem auto;
            width: 90%;
        }
    }

    &__row {
        align-self: center;
        margin: 1rem 0;
    }

    &__header {
        align-self: flex-start;
    }
}

.about {
    &__asset {
        @media ($SMALL_BELOW) {
            order: -1;
            margin-right: 1rem;
        }
    }

    &__image {
        border-radius: 50%;
        height: 300px;
        width: 300px;
        margin-right: 2rem;

        @media ($SMALL_BELOW) {
            margin: 0 0 1rem 0;
            height: 150px;
            width: 150px;
        }
    }

    &__greeting {
        font-family: 'Rubik', sans-serif;
        font-size: 3rem;
        font-weight: 600;
        margin: 0 2rem 0 0;

        @media ($MEDIUM_BELOW) {
            align-self: center;
            font-size: 2rem;
            margin: 0 0 2rem 0;
        }
    }

    &__content {
        width: 75%;

        @media ($MEDIUM_BELOW) {
            width: 100%;
        }
    }

    &__subtitle {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
    }

    &__jamie, &__jelly, &__oakland {
        padding: 3rem;
        margin: 0;

        @media ($SMALL_BELOW) {
            padding: 0;
        }
    }

    &__jamie {
        border-left: $black-border;
        border-bottom: $black-border;

        @media ($SMALL_BELOW) {
            justify-content: center !important;
            margin: 1rem 0;
            border-left: none;
        }
    }

    &__jelly {
        border-right: $black-border;
        border-bottom: $black-border;

        @media ($SMALL_BELOW) {
            justify-content: center !important;
            border-right: none;
        }
    }

    &__oakland {
        align-self: stretch;
        align-items: center;
        padding-bottom: 0;
        border-left: $black-border;

        @media ($SMALL_BELOW) {
            border-left: none;
            margin-top: 2rem;
        }

        &__logo {
            height: 100px;
            padding: 1rem 3rem;

            @media ($SMALL_BELOW) {
                padding: 1rem 4rem;
            }
        }

        &__container {
            position: relative;
            font-size: 6em;
            line-height: 1;
            color: #c9c9c9;
            font-weight: 900;
            text-transform: uppercase;
            -webkit-transition: color 0.3s;
            transition: color 0.3s;

            @media ($LARGE_BELOW) {
                font-size: 3rem;
            }
        }

        &__underline {
            content: '';
            position: absolute;
            width: 100%;
            height: 4rem;
            border-top: $black-border;
            background-color: #f3f5f8;
            bottom: -4rem;
            left: 0;
            -webkit-transition: -webkit-all 0.5s;
            transition: all 0.5s;
            -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
            transition-timing-function: cubic-bezier(0.2,1,0.3,1);
        }

        &__letter {
            color: #c9c9c9;
            letter-spacing: 5px;
            position: relative;
            cursor: pointer;
            text-decoration: none;
            font-family: 'Rubik', sans-serif;
            -webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
            transform: perspective(1000px) rotate3d(0,1,0,0deg);
            -webkit-transition: -webkit-transform 0.5s, color 0.5s;
            transition: transform 0.5s, color 0.5s;
            -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
            transition-timing-function: cubic-bezier(0.2,1,0.3,1);

            &--invert {
                color: #fff;
                -webkit-transform: perspective(1000px) rotate3d(0,1,0,180deg);
                transform: perspective(1000px) rotate3d(0,1,0,180deg);
            }

            &--focus, &:focus {
                color: #000;
            }
        }

        &__org {
            text-decoration: none;
            font-size: 1rem;
            transform: translateY(150%);
            -webkit-transition: -webkit-transform 0.5s;
            transition: transform 0.5s;
            -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
            transition-timing-function: cubic-bezier(0.2,1,0.3,1);

        }

        &__name {
            text-transform: none;
        }
    }
}

.portfolio {
    &__container {
        align-self: stretch;
        justify-content: center;
    }

    &__item {
        display: flex;
        flex: 1 0 48%; /* for two items per row */
        margin: 0;
        position: relative;
        z-index: 1;
        overflow: hidden;
        height: 300px;
        background: #1D2939;
        border: 1px solid #c9c9c9;
        cursor: pointer;

        @media ($SMALL_BELOW) {
            flex: 1 0 100%;
        }

        &:hover {
            img {
                opacity: 0.4;
            }

            figcaption::before, figcaption::after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

            h2 {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }
        }
    }

    &__image {
        height: 300px;
        opacity: 0;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }

    &__caption {
        color: #BFBFBF;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &__caption, &__anchor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before, &::after {
            position: absolute;
            top: 30px;
            right: 30px;
            bottom: 30px;
            left: 30px;
            content: '';
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
    }

    &__anchor {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }

    &__title {
        margin: 25% auto;
        text-align: center;
        letter-spacing: .1em;
        color: #fff;
        font-family: Quicksand, "Helvetica Neue", sans-serif;
        font-weight: 300;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0,15px,0);
        transform: translate3d(0,15px,0);
    }
}

.speaking {
    &__container {
        align-self: stretch;
        justify-content: center;
    }

    &__list {
        border-left: $black-border;
    }

    &__year {
        max-height: 1rem;
        align-self: center;
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);

        @media ($SMALL_BELOW) {
            margin-left: 2.14285714em;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
}

.contact {
    &__content {
        padding: 3rem 0;
    }

    &__icon {
        margin: auto;
        height: 3.5rem;
        width: 3.5rem;
        background-color: #9ad3de;
        border-radius: 50%;
        justify-content: center;
        align-items: center;

        .fa {
            color: #fff;
        }
    }

    a {
        text-decoration: none;
    }
}

.footer {
    position: relative;
    padding: 3rem 0;
    background-color: rgba(0,0,0,.8);
    color: #fff;

    &__content {
        margin: auto;
        width: 75%;

        @media ($SMALL_BELOW) {
            margin: 2rem auto;
            width: 90%;
        }
    }

    &__scum {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}
