@import "media-queries";

$black-border: 2px solid #000;
$grey-border: 1px solid #aaa;

.section {
    &__content {
        margin: auto;
        width: 75%;

        @media ($SMALL_BELOW) {
            margin: 1rem auto;
            width: 90%;
        }
    }

    &__row {
        width: 100%;
        align-self: center;
        margin: 1rem 0;
    }

    &__header {
        align-self: flex-start;
    }
}

.about {
    &__asset {
        @media ($SMALL_BELOW) {
            order: -1;
            margin-right: 1rem;
        }
    }

    &__image {
        border-radius: 50%;
        height: 300px;
        width: 300px;
        margin-right: 2rem;

        @media ($SMALL_BELOW) {
            margin: 0 0 1rem 0;
            height: 150px;
            width: 150px;
        }
    }

    &__greeting {
        font-family: 'Rubik', sans-serif;
        font-size: 3rem;
        font-weight: lighter;
        margin: 0 2rem 0 0;

        @media ($MEDIUM_BELOW) {
            align-self: center;
            font-size: 2rem;
            margin: 0 0 2rem 0;
        }
    }

    &__content {
        width: 75%;

        @media ($MEDIUM_BELOW) {
            width: 100%;
        }
    }

    &__subtitle {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
    }

    &__jamie, &__jelly {
        padding: 3rem;
        margin: 0;

        @media ($SMALL_BELOW) {
            padding: 0;
        }
    }

    &__jamie {
        border-left: $grey-border;
        border-bottom: $grey-border;

        @media ($SMALL_BELOW) {
            justify-content: center !important;
            margin: 1rem 0;
            border-left: none;
        }
    }

    &__jelly {
        border-right: $grey-border;
        border-bottom: $grey-border;

        @media ($SMALL_BELOW) {
            justify-content: center !important;
            border-right: none;
        }
    }
}

.work {
    &__column {

    }
}

.portfolio {
    &__container {
        align-self: stretch;
        justify-content: space-between;
        flex: 1;
        max-width: 100%;
        background: #1D2939;
    }

    &__item {
        display: flex;
        flex: 0 1 auto;
        margin: 0;
        position: relative;
        z-index: 1;
        overflow: hidden;
        height: auto;
        background: #1D2939;
        cursor: pointer;

        @media ($SMALL_BELOW) {
            flex: 1 0 100%;
            max-width: 100%;
        }

        &:hover {
            img {
                opacity: 0.4;
            }

            figcaption::before, figcaption::after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }

            h2 {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
            }
        }
    }

    &__image {
        height: 300px;
        max-width: 100%;
        opacity: 0;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }

    &__caption {
        color: #BFBFBF;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &__caption, &__anchor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before, &::after {
            position: absolute;
            top: 30px;
            right: 30px;
            bottom: 30px;
            left: 30px;
            content: '';
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
    }

    &__anchor {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }

    &__title {
        margin: 25% auto;
        text-align: center;
        letter-spacing: .1em;
        color: #fff;
        font-family: Quicksand, "Helvetica Neue", sans-serif;
        font-weight: 300;
        transition: transform 0.35s;
        transform: translate3d(0,15px,0);
    }
}

.speaking {
    &__container {
        align-self: stretch;
        justify-content: center;
    }

    &__list {
        border-left: $black-border;

        .fa-ul {
            @media ($SMALL_BELOW) {
                flex: 1;
                margin: 1rem 2rem;
            }
        }
    }

    &__year {
        max-height: 1rem;
        align-self: center;
        transform: rotate(270deg);

        @media ($SMALL_BELOW) {
            margin-left: 2.14285714em;
            width: 100%;
            transform: rotate(0deg);
        }
    }
}

.contact {
    &__content {
        padding: 3rem 0;
    }

    &__icon {
        margin: auto;
        height: 3.5rem;
        width: 3.5rem;
        background-color: #9ad3de;
        border-radius: 50%;
        justify-content: center;
        align-items: center;

        .fa {
            color: #fff;
        }
    }

    a {
        text-decoration: none;
    }
}

.footer {
    position: relative;
    padding: 3rem 0;
    background-color: rgba(0,0,0,.8);
    color: #fff;

    &__content {
        margin: auto;
        width: 75%;

        @media ($SMALL_BELOW) {
            margin: 2rem auto;
            width: 90%;
        }
    }

    &__scum {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}
