.row {
  &__name {
    &--center {
      text-align: center;
    }
  }

  &__profile-img {
      border-radius: 5px;
      height: auto;
      width: 100%;
  }

  &--portfolio {

    .medium-6:nth-child(even) {
      padding: 0.3rem 0 0.3rem 0.3rem;
    }

    .medium-6:nth-child(odd) {
      padding: 0.3rem 0.3rem 0.3rem 0;
    }

    .portfolio {
      &__item {
        position: relative;
        z-index: 1;
        display: inline-block;
        overflow: hidden;
        margin: -0.135em;
        height: 300px;
        background: #1D2939;
        text-align: center;
        cursor: pointer;
        width: 100%;
        border-radius: 5px;

        &:hover {
          img {
            opacity: 0.4;
          }

          figcaption::before, figcaption::after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
          }

          h2 {
            opacity: 1;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
          }
        }
      }

      &__image {
        position: relative;
        display: block;
        min-height: 100%;
        opacity: 0;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
      }

      &__caption {
        padding: 2em;
        color: #BFBFBF;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      &__caption, &__anchor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &::before, &::after {
          position: absolute;
          top: 30px;
          right: 30px;
          bottom: 30px;
          left: 30px;
          content: '';
          opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
        }
      }

      &__anchor {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }

      &__title {
        letter-spacing: .1em;
        color: #fff;
        font-family: Quicksand, "Helvetica Neue", sans-serif;
        font-weight: 300;
        padding-top: 15%;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0,15px,0);
        transform: translate3d(0,15px,0);
      }
    }
  }
}


@media all and (max-width: 770px) {
  figure.effect-bubba h2, p {
    opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  }
}
